.mainHeader {
	width: 100%;
	height: 20%;
	background: url("../Assets/Banner1.jpg");
}

.mainHeader img {
	border-radius: 15%;
}

.mainHeader_center{
	text-align: center;
}

.mainHeader img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}